*{
  background:lightblue;
  font-family:Arial;
}
input{
  height:25px;
  width:25px;
}
#submit-form {
  font-weight: semi-bold;
  color:white;
  background:grey;
  font-size:27px;
  margin-left:40px
  padding-top:20px;
  border:1px solid black;
  margin-left:235px;
}
#submit-form:hover{
  background:aqua;
  color:grey;
}
table{
  color:darkgreen;
}
h1{
  color:red;
}
#menu ul{
list-style-type:none;
padding:0px;
margin:0px;
}

#menu ul li{
display:inline;
}
 
#menu ul a{
text-decoration:none;
width:220px;
float:left;
background:#1F568B;
color:#fff;
font-weight:bold;
text-align:center;
line-height:35px;
border-left:1px solid #fff;
border-bottom:1px solid #fff
}
#menu a:hover {
  background: #F1F1F1;
  color: #333;
}
@media all and (max-width: 480px) and (min-width:390px){
  #menu ul a{
      max-width:112px;
  }
  #menu{
      padding-bottom:50px;
  }
}
@media all and (max-width:390px){
  #menu{
  padding-bottom:120px;
}
}
form{
  padding-top:100px;
}

