#submit-form {
  font-weight: semi-bold;
  color:black;
  background:white;
  font-size:25px;
  margin-left:43%;
  border:1px solid gray;
}
#submit-form:hover{
  background:gray;
  color:white;
}
td{
  font-size:21px;
}
th{
  font-size:23px;
  color:red;
}
h1{
  font-size:30px;
  color:green;
}
.inp{
  display:inline-flex;
}
input{
  height:25px;
  width:25px;
}
form{
  padding-left:5%;
  padding-top:10px;
}
*{
  background: lightblue;
  font-family: Arial;
}
#menu ul{
list-style-type:none;
padding:0px;
margin:0px;
}

#menu ul li{
display:inline;
}
 
#menu ul a{
text-decoration:none;
width:220px;
float:left;
background:#1F568B;
color:#fff;
font-weight:bold;
text-align:center;
line-height:35px;
transition:0.5s;
}
ul{
  position:fixed;
  top:0;
  width:100%;
}
#menu a:hover {
  background: #F1F1F1;
  color: #333;
}
@media all and (max-width: 1350px) and (min-width:700px){
  #menu ul a{
      width:32%;
  }
  form{
    padding-top:60px;
  }
}
@media all and (max-width: 700px) and (min-width:465px){
  #menu ul a{
      width:48%;
  }
  form{
    padding-top:100px;
  }
}
@media all and (max-width: 465px) and (min-width:370px){
  #menu ul a{
      width:32%;
  }
  form{
    padding-top:130px;
  }
}
@media all and (max-width:370px){
  form{
    padding-top:210px;
  }
}
#menu .pos{
  background: white;
  color: black;
}
