*{
  background: lightblue;
  font-family: Arial;
  border-collapse: collapse;
}
body{
  margin:0;
  pading:0;
}
#menu .pos{
  background: white;
  color: black;
}
.container{
  display:none;
}
#menu {
  display:block;
}
  .container {
            cursor: pointer;
            position:fixed;
            margin:0 0;
            padding-left:6px;
            padding-right:6px;
            background:red;
            display:block;
        }

        .bar1,
        .bar2,
        .bar3 {
            width: 35px;
            height: 5px;
            background-color: white;
            margin: 6px 0;
            transition: 0.5s;
        }

        .change .bar1 {
            -webkit-transform: rotate(-45deg) translate(-9px, 6px);
            transform: rotate(-45deg) translate(-9px, 6px);
        }

        .change .bar2 {
            opacity: 0;
        }

        .change .bar3 {
            -webkit-transform: rotate(45deg) translate(-8px, -8px);
            transform: rotate(45deg) translate(-8px, -8px);
        }
li a{
  display:block;
}
#menu ul li{
display:block;
}
#menu ul{
list-style-type:none;
padding:0px;
margin:0px;
margin: 0;
padding: 0;
width:50%;
background-color: #e9d8f4;
position: fixed;
height: 100%;
overflow: auto;
}
#menu{
  line-height:200%;
  display:none;
}
#menu ul a{
text-decoration:none;
background:#1F568B;
color:#fff;
width:100%;
float:none;
border-bottom:1px solid white;
font-weight:bold;
text-align:center;
transition:0.5s;
}
#menu a:hover {
  background: #F1F1F1;
  color: #333;
}  
#submit-form {
  font-weight: semi-bold;
  color:black;
  background:white;
  font-size:25px;
  margin-left:48%;
  border:1px solid gray;
}
#submit-form:hover{
  background:gray;
  color:white;
}
table{
  margin-bottom:50px;
  color:green;
}
h1{
  color:red;
}
h4{
  text-align: center;
  color:#333333;
}
input{
  height:25px;
  width:25px;
}
@media all and (max-width:800px) and (min-width: 600px){
  table{
    width:500px;
    margin-left:40px;
  }
}
@media all and (max-width: 900px) and (min-width: 800px){
  .g1, .g2, .g3{
      display:inline-flex;
  }
  table{
    width:350px;
    margin-left:40px;
  }
}
@media all and (max-width:1100px) and (min-width: 900px){
  .g1, .g2, .g3{
      display:inline-flex;
  }
  table{
    width:410px;
    margin-left:30px;
  }
}
@media all and (min-width:1100px) and (max-width:1250px){
  .g1, .g2, .g3{
       display:inline-flex;
  }
  table{
    width:500px;
    margin-left:50px;
  }
}
@media all and (min-width:1250px){
  .g1, .g2, .g3{
    display:inline-flex;
  }
  table{
    width:600px;
    margin-left:50px;
  }
}
form{
  padding-top:15px;
}
h1{
  margin-left:1%;
}