*{
  font-family: Arial;
  border-collapse: collapse;
  margin-top:0px;
  text-align:justify;
}
body{
  margin:auto 0 auto 0;
  text-indent:10px;
}
#menu .pos{
  background: white;
  color: black;
}
  .container {
            cursor: pointer;
            position:fixed;
            margin:0 0;
            padding-left:6px;
            padding-right:6px;
            background:red;
            display:block;
        }

        .bar1,
        .bar2,
        .bar3 {
            width: 35px;
            height: 5px;
            background-color: white;
            margin: 6px 0;
            transition: 0.5s;
        }

        .change .bar1 {
            -webkit-transform: rotate(-45deg) translate(-9px, 6px);
            transform: rotate(-45deg) translate(-9px, 6px);
        }

        .change .bar2 {
            opacity: 0;
        }

        .change .bar3 {
            -webkit-transform: rotate(45deg) translate(-8px, -8px);
            transform: rotate(45deg) translate(-8px, -8px);
        }

li a{
  display:block;
}
#menu ul li{
display:block;
}
#menu ul{
list-style-type:none;
padding:0px;
margin:0px;
width:235px;
background-color: lightgreen;
position: fixed;
height: 100%;
overflow: auto;
}
#menu{
  line-height:200%;
  display:none;
  text-indent: 0px;
}
#menu ul a{
text-decoration:none;
background: lightblue;
color:darkgreen;
width:100%;
float:none;
border-bottom:1px solid white;
font-weight:bold;
text-align:center;
transition:0.5s;
}
#menu a:hover {
  background: #B5B5B5;
  color: #333;
}  
td, th{
    border: 1px solid;
    text-align: left;
  }
h3{
  display:inline-block;
  font-size:21px;
  color:green;
}
p,dt,dl,h5{
  font-size:19px;
}
th{
  text-align:center;
}
img{
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-top:10px;
  margin-bottom:10px;
  width: 100%;
  max-width: pixcel;
  height:auto
}
#mySearch {
  width: 235px;
  font-size: 18px;
  padding: 8px 11px;
  border: 1px solid #ddd;
  display:block;
  margin:0px;
}
.hi{
  background: blue;
  margin-left:0;
  margin-right:0;
  padding-left:5%;
  padding-right:5%;
  padding-bottom:30px;
  color:white;
  font-size:37px;
}
.deco1{
  border: hidden;
  margin-left: 1%;
  margin-right: 1%;
}
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  margin-bottom:1%;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}
.first{
  padding-top:50px;  
}
@media all and (min-width:576px){
.deco1{
  border: hidden;
  padding-top: 2%;
  padding-left:1%;
  padding-right:1%;
  margin-left: 3%;
  margin-right: 3%;
}
  img{
    max-width:50%;
  }
  .container{
    display:none;
  }
  #menu{
    display:block;
  }
  #mbody{
    margin-left:236px;
  }
  .first{
    padding-top:0px;
  }
}
