@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

body{margin:0;padding:0;font-family:Arial;}
h1{
  color:red;
  margin-top:0;
  padding-top:50px;
  margin-left:10%;
}

#rating{border:none;float:left;margin-left:20%;}
#rating>input{display:none;}
#rating>label:before{
  margin:10px;
  font-size:25px;
  font-family:FontAwesome;
  display:inline-block;
  content:"\f005";}/*1 ngôi sao*/
#rating>.half:before{content:"\f089";position:absolute;}
#rating>label{color:#ddd;float:right;}

#rating>input:checked~label,
#rating:not(:checked)>label:hover, 
#rating:not(:checked)>label:hover~label{color:#FFD700;}

#rating>input:checked+label:hover,
#rating>input:checked~label:hover,
#rating>label:hover~input:checked~label,
#rating>input:checked~label:hover~label{color:#FFED85;}

.cmt{
  padding:5px 20px 100px 10px; 
  width:70%;
  margin-top:5%;
  margin-bottom:2%;
  margin-left:10%;
  font-size:21px;
}
.name{
  margin-left:10%;
}
#submit-form {
  font-weight: semi-bold;
  color:black;
  background:white;
  font-size:25px;
  margin-left:43%;
  border:1px solid gray;
}
#submit-form:hover{
  background:lightblue;
  color:white;
}

  .container {
            cursor: pointer;
            position:fixed;
            margin:0 0;
            padding-left:6px;
            padding-right:6px;
            background:red;
            display:block;
        }

        .bar1,
        .bar2,
        .bar3 {
            width: 35px;
            height: 5px;
            background-color: white;
            margin: 6px 0;
            transition: 0.5s;
        }

        .change .bar1 {
            -webkit-transform: rotate(-45deg) translate(-9px, 6px);
            transform: rotate(-45deg) translate(-9px, 6px);
        }

        .change .bar2 {
            opacity: 0;
        }

        .change .bar3 {
            -webkit-transform: rotate(45deg) translate(-8px, -8px);
            transform: rotate(45deg) translate(-8px, -8px);
        }
li a{
  display:block;
}
#menu ul li{
display:block;
}
#menu ul{
list-style-type:none;
padding:0px;
margin:0px;
width:235px;
background-color: lightgreen;
position: fixed;
height: 100%;
overflow: auto;
}
#menu{
  line-height:200%;
  display:none;
}
#menu ul a{
text-decoration:none;
background:lightblue;
color:darkgreen;
width:100%;
float:none;
border-bottom:1px solid white;
font-weight:bold;
text-align:center;
transition:0.5s;
}
#menu a:hover {
  background: #B5B5B5;
  color: #333;
} 
#mySearch {
  width: 210px;
  font-size: 18px;
  padding: 8px 11px;
  border: 1px solid #ddd;
  display:block;
  margin:0px;
}
@media all and (min-width:576px){
  .container{
    display:none;
  }
  #menu{
    display:block;
  }
  #mbody{
    margin-left:236px;
  }
  .cmt{
  padding:5px 10% 100px 10px; 
  margin-top:2%;
  margin-bottom:2%;
  font-size:21px;
}
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}


@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}