*{
  font-family: Arial;
  border-collapse: collapse;
  text-decoration: none;
  margin-top:0px;
}
body{
  margin:0;
  pading:0;
  text-indent:10px;
}
  .container {
            cursor: pointer;
            position:fixed;
            margin:0 0;
            padding-left:6px;
            padding-right:6px;
            background:red;
            display:block;
        }

        .bar1,
        .bar2,
        .bar3 {
            width: 35px;
            height: 5px;
            background-color: white;
            margin: 6px 0;
            transition: 0.5s;
        }

        .change .bar1 {
            -webkit-transform: rotate(-45deg) translate(-9px, 6px);
            transform: rotate(-45deg) translate(-9px, 6px);
        }

        .change .bar2 {
            opacity: 0;
        }

        .change .bar3 {
            -webkit-transform: rotate(45deg) translate(-8px, -8px);
            transform: rotate(45deg) translate(-8px, -8px);
        }
li a{
  display:block;
}
#menu ul li{
display:block;
}
#menu ul{
list-style-type:none;
padding:0px;
margin:0px;
width:235px;
background-color: lightgreen;
position: fixed;
height: 100%;
overflow: auto;
}
#menu{
  line-height:200%;
  display:none;
  text-indent:0px;
}
#menu ul a{
text-decoration:none;
background:lightblue;
color:darkgreen;
width:100%;
float:none;
border-bottom:1px solid white;
font-weight:bold;
text-align:center;
transition:0.5s;
}
#menu a:hover {
  background: #B5B5B5;
  color: #333;
}  
#menu .pos{
  background: white;
  color: black;
}
table, tr, th, td{
    border-collapse: collapse;
    border: 2px solid black;
    font-size:18px;
  }
  td{
    color:green;
    padding-top:5px;
    padding-bottom:5px;
  }
  tr{
    color:red;
  }
a:hover{
    color:#FF9933;
    text-decoration:none;
}
a:link{
    text-decoration: none;
}
a:visited{
    color: #FF9933;
}
#mySearch {
  width: 210px;
  font-size: 18px;
  padding:8px 11px;
  border: 1px solid #ddd;
  display:block;
  margin:0px;
}
#myInput {
  width:50%;
  font-size: 16px; 
  padding:12px 20px 12px 40px;
  margin-bottom:20px;
  margin-left:15%;
}
table{
width:80%;
margin:auto auto auto 10%;
padding:auto;
}
@media all and (min-width:576px){
  .container{
    display:none;
  }
  #menu{
    display:block;
  }
  #mbody{
    margin-left:236px;
  }
}

